<%-include ("partials/header")-%>

<div class = "fulls">
    <main class = "main">
      <div class = "full1">
        <nav class = "horizontal">
          <div class = "tfull">
            <div class = "tfull1">
              <a class = "tfull2" href = " ">
                Pages
                <span class = "tfull3">
                  /
                </span>
              </a>
              <a class = "tfull4" href = "/teachers">
                Teachers
              </a>
            </div>
            <p class = "tfull5">
              <a class = "tfull6" href = "/teachers">
                Teachers
              </a>
            </p>
          </div>  
        </nav>

<!-------Student Card----------->

              <div class = "student">
                <div class = "student-body">
                  <div class="student-head">
                    <div class = "general-h">
                      <h4 class = "general-title">All Teachers Data</h4>
                    </div>
                  </div>


                <div class = "search-form">
                  <div class = "search-form1">

                    <form action = "/teachers/addteacher" class = "del-form2">
                      <button type="submit" class="search-btn">Add+</button>
                    </form>

                    <form class="srch-form1">
                      <button class="delete-btn">Remove-</button>
                    </form>

                    <form class="del-form2">
                      <button class="src-btn">Show</button>
                    </form>

                    <form class="srch-form1">
                      <button class="edit-btn">Edit+/-</button>
                    </form>

                  </div>

                  <form action="/teachers" method = "post">
                    <div class = "design-widht">
                      <div class="input-card">
                        <h2 style = "font-weight: 900; font-size: 1.5em; margin-top: 0;">Remove Teacher</h2>
                        <label class="input form_label">
                          <input name = "teacherID" class="input__field " type="text" placeholder="Enter Teacher ID. ">
                        </label>
                        <div class="button-group">
                          <button class = "send" type = "submit">Send</button>
                          <button class = "reset" type="reset">Reset</button>
                        </div>
                      </div>
                    </div>
                  </form>

                  <form action="/teachers/teacherinfo" method = "get">
                    <div class = "design-widht1">
                      <div class="input-card1">
                        <h2 style = "font-weight: 900; font-size: 1.5em; margin-top: 0;">Show Teacher</h2>
                        <label class="input">
                          <input name = "teacherID" class="input__field" type="text" placeholder="Enter Teacher ID. ">
                        </label>
                        <div class="button-group">
                          <button class = "send" type = "submit">Send</button>
                          <button class = "reset" type="reset">Reset</button>
                        </div>
                      </div>
                    </div>
                  </form>

                  <form action="/teachers/editteacher" method = "get">
                    <div class = "design-widht2">
                      <div class="input-card2">
                        <h2 style = "font-weight: 900; font-size: 1.5em; margin-top: 0;">Edit Student</h2>
                        <label class="input">
                          <input name = "teacherID" class="input__field" type="text" placeholder="Enter Teacher Id. ">
                        </label>
                        <div class="button-group">
                          <button class = "send1" type = "submit">Send</button>
                          <button class = "reset" type="reset">Reset</button>
                        </div>
                      </div>
                    </div>
                  </form>
                  
                </div>

                  <form class = "search-form">
                    <div class = "search-form1">
                      <div class = "form1">
                        <input type="text" id="search-by-rollNo" placeholder="Search by Teacher ID ..." class="form-control">
                      </div>

                      <div class = "form2">
                        <input type="text" id="search-by-name" placeholder="Search by Name ..." class="form-control">
                      </div>

                      <div class = "form2">
                        <input type="text"  id="search-by-batch" placeholder="Search by Address ..." class="form-control">
                      </div>

                      <div class = "form3">
                        <button type="submit" id="search-button" class="search-btn">SEARCH</button>
                      </div>

                    </div>
                  </form>

                  <div class = "student-table">
                    <div class = "student-table1">
                      <table class = "student-table2">
                        <thead>
                          <tr role = "row">
                            <th class="sorting_asc" rowspan="1" colspan="1" aria-label="Roll" style="width: 85.8px;">
                                <div class="form-check">
                                  <input type="checkbox" class="check">
                                  <label class="check-label">#</label>
                                </div>
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">Teacher Id</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">Name</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">Gender</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">Address</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">Phone</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 80.6875px;">E-mail</th>
                          </tr>
                        </thead>
                        <tbody id = "data">
                            <% data.forEach((row,index) =>{ %>
                            <tr role="row" class= "<%= index % 2 === 0 ? 'even' : 'odd' %>">
                              <td class="sorting_1">
                                  <div class="form-check">
                                      <input type="checkbox" class="check">
                                      <label class="check-label"><%= index + 1%></label>
                                  </div>
                              </td>
                              <td style = "padding-top:1rem; padding-bottom:1rem;padding-left:1rem;"><%= typeof row.teacher_id !== 'undefined' ? row.teacher_id : '-' %>
                              </td>
                              <td class="name" style = "padding-left:1rem;"><%= typeof row.Teacher_Name !== 'undefined' ? row.Teacher_Name : '-' %></td>
                              <td style = "padding-left:1rem;"><%= typeof row.teacher_gender !== 'undefined' ? row.teacher_gender : '-' %></td>
                              <td style = "padding-left:1rem;"><%= typeof row.teacher_Address !== 'undefined' ? row.teacher_Address : '-' %></td>
                              <td style = "padding-left:1rem;"><%= typeof row.teacher_mobileNo !== 'undefined' ? row.teacher_mobileNo : '-' %></td>
                              <td style = "padding-left:1rem;"><%= typeof row.teacher_email !== 'undefined' ? row.teacher_email : '-' %></td>
                                </div>                   
                            </tr>

                            <% })%>
                            
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

<%-include ("partials/footer")-%>